<div class="container">
     <div class="row">
          <div class="col-md-6">
               <div class="card h-100">
                    <img class="card-img-top" src="1.jpg" alt="">
                    <div class="card-body">
                         <h4 class="card-title">
                              <a href="#">Sokha Retal Room</a>
                         </h4>
                         <h5>$24.99</h5>
                         <p class="card-text">
                              <p>The Sokha Hotels & Resorts also known as Sokha Hotel Group is based in Phnom Penh and it is
                                   also Cambodian owned company which is under the Sokimex Investment Group.</p>
                         </p>
                    </div>
                    <div class="card-footer">
                         <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                         <i style="float: right" class="fa fa-heart"></i>
                    </div>
               </div>
          </div>
          <div class="col-md-6">
               <div class="card h-100" >
                    <div class="card-title">
                         <div class="row" style="margin: 20px;">
                              <img style="border-radius: 50%; width:100px;height:100px;" src="img_avatar.png" alt="profile picture">
                              <div class="col">
                                   <h3>Hay Dane</h3>
                                   <p href=""><i class="fa fa-phone"></i> +85599266678</p>
                                   <p><a href="https://goo.gl/5D889y"><i class="fa fa-map-marker"></i> Sokha Hotel</a></p>
                              </div>
                         </div>
                    </div>
                    <div class="card-body">
                         <p style="text-align:justify">I am currently working at a company called "Sokha Hotel". I am available 24h/day. 
                              You can book room via my phone number above. Please enjoy with our best service experiences. 
                              You will feel confortable with the good environment and we believe you won't regret to choose us. Thank you!</p>
                         <h4>Best Regards,</h4>
                         <p>Hay Dane</p>
                    </div>
               </div>
          </div>
     </div>
</div>